body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.header{
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 24px;
    font-weight: 1000;
    padding: 2.5vh 1vw;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2vh;
    column-gap: 1vw;
    box-sizing: border-box;
}

.logo{
    flex: 1 1 600px;
    margin: 0 0.5vw;
    max-width: 600px;     
}

.links{
    flex: 1 1 600px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5vh;
    column-gap: 1vw;
    justify-content: space-between;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0.5vw;    
    color: #E5E7EB;  
}

.upper_content{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 5vh 1vw;
    width: 100%;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2vh;
    column-gap: 1vw;
    box-sizing: border-box;
}

.upper_left{
    flex: 1 1 600px;
    margin: 0 0.5vw;
    max-width: 600px;
    font-size: 24px;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2vh;     
}

#upper_left_title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    padding: 10px 70px;
    border-radius: 15px;
    border: 5px solid #1F2937;
    width: fit-content;
}

.upper_right{
    flex: 1 1 600px;
    margin: 0 0.5vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;    
}    

.upper_img{
    flex: 1 1 auto;
    height: 250px;
    background-color: #757575;
    text-align: center;        
}

.upper_mid_content{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 5vh 1vw;
    width: 100%;;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.info_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2.5vh;
    row-gap: 2vh;
}

.info{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((1200px + 2vw)/4);
}

.img{    
    height: 210px;
    width: 210px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.subtext{
    margin-top: 10px;
    width: 215px;
    color: #646464;
}

.lower_mid_content{
    width: 100%;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 5vh 1vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
#quote{
    flex: 1 0 600px;
    max-width: calc(1200px + 2vw);
    margin: 0 10vw;
    text-align: justify;
}

#quote_autor{
    color: #1F2937;
    font-weight: 700;
    text-align: right;
    font-style: normal;
    font-size: 32px;
}

.lower_content{
    width: 100%;
    font-size: 24px;
    padding: 5vh 1vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.lower_box{
    flex: 1 1 auto;
    background-color: #3882F6;
    color: #F9FAF8;        
    padding: 5vh 5vw;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2vh;
    column-gap: 1vw;
    max-width: calc(1200px + 2vw);
}

.lower_left{
    font-size: 24px;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;    
}

#lower_content_title{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 10px;
}

.lower_right{
    flex: 1 1 auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.lower_button{
    font-size: 24px;
    font-weight: 900;
    padding: 10px 70px;
    border-radius: 15px;
    border: 5px solid #F9FAF8;
    width: fit-content;  
}

.footer{
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 24px;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    width: 100%;;
    text-align: center;
    box-sizing: border-box;
}